In [22]:
import pandas as pd

In [23]:
travel =pd.read_csv('https://drive.google.com/uc?id=1muwnik-uFGTKBdHmcQN5z68rD7qmdG-b') #extraxt the datset

the_travel_data = travel.copy() # creates a copy of the dataset

# Cleaning to be done

### Change to the correct datatypes for Date column
### deal with the null values by filling them appropiately
### Separte the destination column to State and City
### Separate the names appropiately

In [24]:
the_travel_data.shape # understanding the data

(418, 6)

In [25]:
the_travel_data.info() #understanding the data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Employee               418 non-null    object
 1   Destination            418 non-null    object
 2   Travel Start Date      418 non-null    object
 3   Travel End Date        418 non-null    object
 4   Actual Total Expenses  418 non-null    float64
 5   Purpose Of Travel      415 non-null    object
dtypes: float64(1), object(5)
memory usage: 19.7+ KB

In [26]:
the_travel_data.drop_duplicates() # remove the the duplicate

,Employee,Destination,Travel Start Date,Travel End Date,Actual Total Expenses,Purpose Of Travel
0,Aaron Salter,"OCEAN CITY, MD",2017-05-31,2017-06-02,644.10,Conference
1,Abigail Ratnofsky,"SAN DIEGO, CA",2016-01-24,2016-01-29,2962.70,Conference
2,Adam Kisthardt,"ORLANDO, FL",2018-10-04,2018-10-09,1891.19,Conference
3,Adam P. Jones,"OCEAN CITY, MD",2016-06-19,2016-06-21,324.36,Conference
4,Alan Butsch,"SAN DIEGO, CA",2019-11-19,2019-11-22,2141.51,Conference
...,...,...,...,...,...,...
413,Warren Jensen!,"OCEAN CITY, MD",2017-11-06,2017-11-09,502.45,Conference
414,Warp Jensen,"OCEAN CITY, MD",2019-03-25,2019-03-26,78.00,Conference
415,Whitney Kujawa,"OCEAN CITY, MD",2017-11-06,2017-11-09,567.00,Conference
416,William Kinna,"CHARLOTTE, NC",2017-05-21,2017-05-26,2163.67,Conference
417,Xin Qi,"OCEAN CITY, MD",2019-08-13,2019-08-17,2107.51,Conference

In [27]:
# function to clean the white space

def clean_whitespace(text):
    if type(text) == str:
        return text.strip()
    return text

In [28]:
the_travel_data['Travel End Date'] = the_travel_data['Travel End Date'].apply(clean_whitespace) #remove white space from the date columns

In [29]:
the_travel_data['Travel Start Date'] = the_travel_data['Travel Start Date'].apply(clean_whitespace) #remove white space from the date columns

In [30]:
the_travel_data['Travel Start Date'] = pd.to_datetime(the_travel_data['Travel Start Date']) #Correct the data type of the date columns

the_travel_data['Travel End Date'] = pd.to_datetime(the_travel_data['Travel End Date']) #Correct the data type of the date columns


the_travel_data.info() #checking that changes are applied

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Employee               418 non-null    object
 1   Destination            418 non-null    object
 2   Travel Start Date      418 non-null    datetime64[ns]
 3   Travel End Date        418 non-null    datetime64[ns]
 4   Actual Total Expenses  418 non-null    float64
 5   Purpose Of Travel      415 non-null    object
dtypes: datetime64[ns](2), float64(1), object(3)
memory usage: 19.7+ KB

In [31]:
the_travel_data['Purpose Of Travel']= the_travel_data['Purpose Of Travel'].fillna('Not provided') # fill the null value appropiately

In [32]:

the_travel_data.sort_values(by= 'Purpose Of Travel')

,Employee,Destination,Travel Start Date,Travel End Date,Actual Total Expenses,Purpose Of Travel
0,Aaron Salter,"OCEAN CITY, MD",2017-05-31,2017-06-02,644.10,Conference
266,Marjorie Roher,"OCEAN CITY, MD",2017-06-07,2017-06-08,443.23,Conference
265,Mel Williams,"OCEAN CITY, MD",2019-06-23,2019-06-25,339.02,Conference
264,Mario Mastrangelo,"ATLANTA, GA",2016-04-18,2016-04-22,1421.02,Conference
263,Marianne Souders,"OCEAN CITY, MD",2016-05-30,2016-06-04,982.02,Conference
...,...,...,...,...,...,...
203,Joseph Sabolic,"AUSTIN, TX",2017-12-17,2017-12-20,1760.59,Vendor
292,Michael Nesselt,"LOS ANGELES, CA",2019-10-15,2019-10-17,803.69,Vendor
330,Phillip Martin,"LOS ANGELES, CA",2019-08-05,2019-08-07,1126.79,Vendor
227,Kevin Killeavy,"LOS ANGELES, CA",2016-03-06,2016-03-07,1767.35,Vendor
161,James P Graham,"LAS VEGAS, NV",2017-04-23,2017-04-27,1768.57,Vendor

In [33]:
the_travel_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Employee               418 non-null    object
 1   Destination            418 non-null    object
 2   Travel Start Date      418 non-null    datetime64[ns]
 3   Travel End Date        418 non-null    datetime64[ns]
 4   Actual Total Expenses  418 non-null    float64
 5   Purpose Of Travel      418 non-null    object
dtypes: datetime64[ns](2), float64(1), object(3)
memory usage: 19.7+ KB

In [34]:
# functions to split necessary columns

def extract_state(text):
    result = text.split(',')[1]

    return result


def extract_city(text):
    result = text.split(',')[0]

    return result.title()

def extract_surname(text):
    text = text.strip()
    result = text.split(' ')[-1]
    return result

def extract_firstname(text):
    text = text.strip()
    result = text.split(' ')[0]
    return result

def extract_year(text):
    text = str(text)
    result = text.split('-')[0]
    return result

def extract_month(text):
    text = str(text)
    result = text.split('-')[1]
    return result

def extract_day(text):
    text = str(text)
    result = text.split('-')[-1]
    return result

In [35]:
the_travel_data['Year'] = the_travel_data['Travel Start Date'].apply(extract_year)

In [36]:
def clean_special_xter(text):

    special_characters = ['!', '@', '#', '$', '%', '^', '&', '*', '(', ')', '-', '_', '=', '+', '[', ']', '{', '}', '\\', '|', ';', ':', "'", '"', ',', '<', '.', '>', '/', '?', '~', '`']
    for xter in special_characters:
        if xter in text:
            return text.replace(xter,'')
    
    return text

In [37]:
the_travel_data['Employee'] = the_travel_data['Employee'].apply(clean_special_xter) #this should remove the special character

In [38]:
the_travel_data['Surname'] = the_travel_data['Employee'].apply(extract_surname) # Separating the names

In [39]:
the_travel_data['First Name'] = the_travel_data['Employee'].apply(extract_firstname) # Separating the names

In [40]:
the_travel_data['State'] =the_travel_data['Destination'].apply(extract_state) #Separating the Destination to Sate and city

In [41]:
the_travel_data['City'] =the_travel_data['Destination'].apply(extract_city) #Separating the Destination to Sate and city

In [42]:
the_travel_data

,Employee,Destination,Travel Start Date,Travel End Date,Actual Total Expenses,Purpose Of Travel,Year,Surname,First Name,State,City
0,Aaron Salter,"OCEAN CITY, MD",2017-05-31,2017-06-02,644.10,Conference,2017,Salter,Aaron,MD,Ocean City
1,Abigail Ratnofsky,"SAN DIEGO, CA",2016-01-24,2016-01-29,2962.70,Conference,2016,Ratnofsky,Abigail,CA,San Diego
2,Adam Kisthardt,"ORLANDO, FL",2018-10-04,2018-10-09,1891.19,Conference,2018,Kisthardt,Adam,FL,Orlando
3,Adam P Jones,"OCEAN CITY, MD",2016-06-19,2016-06-21,324.36,Conference,2016,Jones,Adam,MD,Ocean City
4,Alan Butsch,"SAN DIEGO, CA",2019-11-19,2019-11-22,2141.51,Conference,2019,Butsch,Alan,CA,San Diego
...,...,...,...,...,...,...,...,...,...,...,...
413,Warren Jensen,"OCEAN CITY, MD",2017-11-06,2017-11-09,502.45,Conference,2017,Jensen,Warren,MD,Ocean City
414,Warp Jensen,"OCEAN CITY, MD",2019-03-25,2019-03-26,78.00,Conference,2019,Jensen,Warp,MD,Ocean City
415,Whitney Kujawa,"OCEAN CITY, MD",2017-11-06,2017-11-09,567.00,Conference,2017,Kujawa,Whitney,MD,Ocean City
416,William Kinna,"CHARLOTTE, NC",2017-05-21,2017-05-26,2163.67,Conference,2017,Kinna,William,NC,Charlotte
417,Xin Qi,"OCEAN CITY, MD",2019-08-13,2019-08-17,2107.51,Conference,2019,Qi,Xin,MD,Ocean City

In [43]:
the_travel_data.drop(columns=['Year']) # Delete the Year column

,Employee,Destination,Travel Start Date,Travel End Date,Actual Total Expenses,Purpose Of Travel,Surname,First Name,State,City
0,Aaron Salter,"OCEAN CITY, MD",2017-05-31,2017-06-02,644.10,Conference,Salter,Aaron,MD,Ocean City
1,Abigail Ratnofsky,"SAN DIEGO, CA",2016-01-24,2016-01-29,2962.70,Conference,Ratnofsky,Abigail,CA,San Diego
2,Adam Kisthardt,"ORLANDO, FL",2018-10-04,2018-10-09,1891.19,Conference,Kisthardt,Adam,FL,Orlando
3,Adam P Jones,"OCEAN CITY, MD",2016-06-19,2016-06-21,324.36,Conference,Jones,Adam,MD,Ocean City
4,Alan Butsch,"SAN DIEGO, CA",2019-11-19,2019-11-22,2141.51,Conference,Butsch,Alan,CA,San Diego
...,...,...,...,...,...,...,...,...,...,...
413,Warren Jensen,"OCEAN CITY, MD",2017-11-06,2017-11-09,502.45,Conference,Jensen,Warren,MD,Ocean City
414,Warp Jensen,"OCEAN CITY, MD",2019-03-25,2019-03-26,78.00,Conference,Jensen,Warp,MD,Ocean City
415,Whitney Kujawa,"OCEAN CITY, MD",2017-11-06,2017-11-09,567.00,Conference,Kujawa,Whitney,MD,Ocean City
416,William Kinna,"CHARLOTTE, NC",2017-05-21,2017-05-26,2163.67,Conference,Kinna,William,NC,Charlotte
417,Xin Qi,"OCEAN CITY, MD",2019-08-13,2019-08-17,2107.51,Conference,Qi,Xin,MD,Ocean City

In [44]:
the_travel_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Employee               418 non-null    object
 1   Destination            418 non-null    object
 2   Travel Start Date      418 non-null    datetime64[ns]
 3   Travel End Date        418 non-null    datetime64[ns]
 4   Actual Total Expenses  418 non-null    float64
 5   Purpose Of Travel      418 non-null    object
 6   Year                   418 non-null    object
 7   Surname                418 non-null    object
 8   First Name             418 non-null    object
 9   State                  418 non-null    object
 10  City                   418 non-null    object
dtypes: datetime64[ns](2), float64(1), object(8)
memory usage: 36.1+ KB

In [46]:
columns = ['First Name', 'Surname','State','City','Travel Start Date','Travel End Date','Actual Total Expenses','Purpose Of Travel']

Final_Travel_data = the_travel_data[columns]

Final_Travel_data.to_csv('Cleaned Travel Dataset')